@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* tailwind */
@layer base {
    h1 {
        @apply mb-5;
        @apply text-3xl;
        @apply sm:text-5xl;
    }

    h2 {
        @apply mb-3;
        @apply text-xl;
        @apply sm:text-3xl;
    }

    ul {
        @apply list-none;
        @apply list-inside;
    }

    a,
    p,
    li {
        @apply mb-3;
        @apply text-base;
        @apply sm:text-xl;
    }
}
