@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* tailwind */
@layer base {
    h1 {
        @apply mb-5 text-4xl font-bold;
    }

    h2 {
        @apply mb-3 text-2xl font-bold;
    }

    ul {
        @apply list-disc list-outside;
    }

    p,
    li {
        @apply mb-3 text-2xl;
    }

    li {
        /* @apply flex; */
    }
}
